{% extends "movies/base.html" %}
{% load movie_extras %}
{% block article %}
<img class="w-full h-99 object-cover rounded-lg mb-4 mt-2" src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}" alt="the imitation game poster">
<div class="bg-gray-800 p-4 rounded-lg shadow-md">
    <header>
        <h1 class="movie-title text-3xl font-bold mb-2 text-white">{{movie.title}}</h1>
        <div class="movie-info">
            <p class="text-white">  {{ movie.release_date|date:"F d, Y" }} -</p>
            <h1 class="text-lg font-bold text-white">Genres:</h1>
            <ul class="movie-genre list-none mb-2">
                {% for genre in movie.genres.all %}
                    <li class="inline-block mr-2 text-white">{{ genre.name }}{% if not forloop.last %}, {% endif %}</li>
                {% endfor %}
            </ul>
            <h1 class="text-lg font-bold text-white">Run Time:</h1>
            <p class="text-white">{{ movie.running_time|duration_to_hms }}</p>
            <p class="text-white"></p>  
        </div>         
        <br>
        <h1 class="text-lg font-bold text-white">Overview</h1>
        <p class="text-white">{{movie.overview}}</p>
        <br>
        <h1 class="text-lg font-bold text-white">Production Details</h1>
        <p class="text-white">Budget: {{movie.budget}} dlls</p>
        <p class="text-white">Revenue: {{movie.revenue}} dlls</p>
        <br>
    </header>
</div>

  
</header>



<div class="recommended-movies-container bg-gray-800 p-4 rounded-lg shadow-md mt-4">
    <h1 class="text-2xl font-bold mb-2">Recommended Movies</h1>
    <div class="carousel-container h-96 overflow-y-auto">
        <div class="carousel relative overflow-hidden p-4">
            <div class="carousel-inner flex flex-nowrap overflow-x-auto">
                {% for recommended_movie in recommended_movies %}
                    <div class="carousel-item w-40 h-80 mr-4 flex-shrink-0"> 
                        <a href="{% url 'movie_detail' recommended_movie.id %}">
                            <img class="w-full h-full object-cover rounded-lg" src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2/{{recommended_movie.poster_path}}" alt="{{recommended_movie.title}} poster">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-prev absolute top-0 left-0 z-10 p-2 text-gray-600 hover:text-gray-900" aria-label="Previous">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                </svg>
            </button>
            <button class="carousel-next absolute top-0 right-0 z-10 p-2 text-gray-600 hover:text-gray-900" aria-label="Next">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
    </div>
</div>
<div class="actors-container bg-gray-800 p-4 rounded-lg shadow-md mt-4">
    <h1 class="text-2xl font-bold mb-2">Actores</h1>
    <div class="carousel carousel-slider">
        <div class="carousel-item">
            {% for credit in credits %}
                <div class="actor-item text-gray-300 hover:text-gray-100 transition duration-150 ease-in-out flex items-center">
                    <img class="w-12 h-12 rounded-full mr-4" src="{% if credit.person.profile_path %}https://image.tmdb.org/t/p/w185/{{ credit.person.profile_path }}{% else %}images/missing.png{% endif %}" alt="{{ credit.person.name }} profile">
                    <a class="underline" href="{% url 'actor_movies' actor_id=credit.person.id %}">{{ credit.person.name }}</a> 
                </div>
            {% endfor %}
        </div>
    </div>
</div>



            
       
        <div class="reviews my-4">
    <h2>Reseñas</h2>
    <div class="review-container">
        {% for review in reviews %}
        <div class="review">
            <p><strong>{{ review.user.username }}</strong> dijo:</p>
            <p>Rating: {{ review.rating }} / 100</p>
            <p>{{ review.review }}</p>
            
        </div>
        {% empty %}
        <p>No hay reseñas todavía. ¡Sé el primero en dejar una!</p>
        {% endfor %}
    </div>
</div>

<div class="add-review my-4">
    <h2>Añadir una reseña</h2>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'create_review' movie_id=movie.id %}" class="review-form"">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Enviar</button>
    </form>
    {% else %}
        <p><a href="{% url 'login' %}">Inicia sesión</a> para dejar una reseña.</p>
    {% endif %}
    
</div>


        
{% endblock %}
